<ion-header>

  <ion-navbar>
    <ion-title>{{ item.nombre }}</ion-title>
  
  </ion-navbar>

  

</ion-header>


<ion-content>
 

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let tema of temas">
      <button ion-item (click)="openItem(tema)">
        <ion-avatar item-start>
          <img [src]="tema.usuario.imagen" />
        </ion-avatar>
        <h2>{{tema.descripcion}}</h2>
     
        <ion-note item-end *ngIf="item.note">{{tema.descripcion}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="success" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->

  <ion-card  *ngFor="let tema of temas">
    <button ion-item (click)="openItem(tema)">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="tema.usuario.imagen">
        </ion-avatar>
        <h2>{{tema.usuario.username}}</h2>
        <p>{{tema.createdAt}}</p>
      </ion-item>
    
   
      <ion-card-content>
        <p>{{tema.descripcion}}</p>
      </ion-card-content>
    
    </button>
    
    </ion-card>

    <ion-fab right bottom>
      <button ion-fab color="primary"  (click)="addItem()"><ion-icon name="add" ></ion-icon></button>
  
    </ion-fab>

  
</ion-content>

